<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BSc in Computer Engineering – Software</h1>
            <span>Shahid Beheshti University</span>
            <span><address>Tehran, Iran</address><time>2011 to 2016</time></span>
        </header>
        <p>
            <em>Project Title: Designing and implementing an integrated system for document management</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Philosophy and the Sciences: Introduction to the Philosophy of
Cognitive Sciences</h1>
            <span>University of Edinburgh</span>
            <span><address>Edinburgh, UK</address><time>2018 to 2019</time></span>
        </header>
        <p>
            <em>Online Course</em>
        </p>
    </article>
</section>
