<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>International Department Assistant</h1>
            <span><address>Al Zahra University, Iran</address><time>2018 to 2019</time></span>
        </header>
        <p><br>Responsibilities: <br><br>
            <ul>
                <li>- Content creation for the website of the department, and content management using WordPress CMS.</li>
                <li>- Writing reports and managing various documents.</li>
                <li>- Doing English/Persian translation of documents and international meetings.</li>
                <li>- Designing posters, banners and brochures.</li>
            </ul>
            Through this job, I gained lots of valuable experience of working in an international environment.
</p>
    </article>
    <article>
        <header>
            <h1>Service Desk Employee</h1>
            <span><address>CHmail Co., Iran</address><time>2016 to 2018</time></span>
        </header>
        <p><br>Responsibilities: <br><br>
            <ul>
                <li>- Creating content for the website and social media, and managing the blog of
                    the service. </li>
                <li>- Solving basic technical problems of the users.</li>
                <li>- Redirecting more complected issues to the relevant section, through creating and assigning them to the technical team and following up their status.</li>
            </ul>
            Chmail is an email provider service with more than a million users in Iran. Working
            in this environment contributed to my team work and customer support skills, as well as getting used to work under high pressure conditions.
</p>
    </article>
</section>
